{% extends 'base.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}

<div class="container mx-auto py-8 px-4">
    <h1 class="text-3xl font-bold mb-6">Your Books</h1>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for book in books %}
        <li class="bg-white p-4 rounded-lg shadow-md flex items-center justify-between">
            <div>
                <h2 class="text-xl font-semibold">{{ book.title }}</h2>
                <p class="text-gray-600">{{ book.author }}</p>
                <p class="text-gray-600">Status: {% if book.approved %}<span class="text-green-500">Approved</span>
                    {% else %}
                    <span class="text-red-500">Pending</span>
                    {% endif %}</p>
            </div>
            <div class="flex space-x-2">
                <a href="{% url 'edit_book' book.id %}"
                   class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Edit</a>
                <a href="{{ book.pdf.url }}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
                   target="_blank">View</a>
                <a href="{% url 'download_book' book.id %}"
                   class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Download</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="mt-6 flex items-center gap-3">
        <a href="{% url 'add_book' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Add a new
            book</a>
        <a href="{% url 'logout' %}" class="text-blue-500 hover:underline">Logout</a>
    </div>
</div>
{% endblock %}
