<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}
<div class="flex items-center justify-center min-h-screen">
<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center text-green-500">Register</h1>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full bg-blue-200 text-white py-2 px-4 rounded hover:bg-blue-300 hover:text-white transition">
            Register
        </button>
    </form>
    <div class="text-center mt-4">
        <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Already have an account? Login</a>
    </div>
</div>
</div>
</body>
</html>
