<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-indigo-50 via-white to-blue-100 flex items-center justify-center  min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Edit Book</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                <input type="text" id="title" name="title" value="{{ book.title }}" class="mt-1 px-3 py-2 h-10  border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div>
                <label for="author" class="block text-sm font-medium text-gray-700">Author</label>
                <input type="text" id="author" name="author" value="{{ book.author }}" class="mt-1 px-3 py-2 h-10  border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <input type="text" id="description" name="description" value="{{ book.description }}" class="mt-1 px-3 py-2 h-10  border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div>
                <label for="pdf" class="block text-sm font-medium text-gray-700">PDF File</label>
                <input type="file" id="pdf" name="pdf" class="mt-1 px-3 py-2 h-10  border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <button type="submit" class="w-full bg-green-300 text-white py-2 px-4 rounded hover:bg-green-400 transition">Save Changes</button>
        </form>
        <div class="text-center mt-4">
            <a href="{% url 'admin_index' %}" class="text-blue-500 hover:underline">Back to Dashboard</a>
        </div>
    </div>
</body>
</html>
